<!DOCTYPE html>
<html lang="en">
  <head style="background-color:rgb(136, 112, 241);">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-footer.css?{{ cache_id }}">
    <link type="text/css" rel="stylesheet" href="../static/styles/landing-page.css?{{ cache_id }}">
        <title>Doctory</title>
    <script src="../static/scripts/landingpg.js?{{ cache_id }}"></script>
  </head>
  <body>
        <header style="background-color:rgb(178, 152, 240);">
          <a href="Doctory_home.html"><img src="../static/images/logo.png" /> </a>
      <div class="logo"></div>
    </header>
        <img src="../static/images/cover3.jpg" class = "center" style="width:1350px; height:200px;
                                        image-rendering: -moz-crisp-edges;
                                        -ms-interpolation-mode: bicubic;"></img>

                    <button class="tablink" onclick="openPage('Home', this, 'red')">Doctory</button>
                    <button class="tablink" onclick="openPage('News', this, 'green')" id="defaultOpen">Usage & Features</button>
                    <button class="tablink" onclick="openPage('Contact', this, 'blue')">Contact</button>
                    <button class="tablink" onclick="openPage('About', this, 'orange')">About</button>

                      <div id="Home" class="tabcontent">
                        <h3>Doctory</h3>
                        <p>Doctory , Booking your doctor's appointment has never been easier <br>
                        Doctory is a free and specialized app in helping you find the best doctors near <br> 
                        Allowing you to book your appointment in minutes with no need to prior <br>
                        registeration or any additional fees and your appointment is confirmed in <br>
                        the spot. we carefully select the best doctors in town so that you can get the best care <br>
                        
                        <a href="Doctory_home.html">Go to website</a>
                      </p>
                      </div>

                    <div id="News" class="tabcontent">
                      <h3>Usage</h3>
                      <p>How to use our app <br>
                      Using doctory is a very easy process. first you choose your locations as shown in image no.1  then you choose the specialization as shown in image 2  After 
                  you choose from a list of the best doctors in town. Then you choose the appointment image no. 4 
                  suitable for you. finally you enter your email and you will recieve a confirmation email <br>
                  within minutes confirming your doctor's appointment <br>

                  ..................1- with doctory you can choose doctors nearby ........... 2- with doctory you can choose from a varities of specializations ........... 3- In doctory you book your appointment in minutes........ <br>
                  <img src="../static/images/doctoeryhome.png" class = "center" style="width:400px; height:400px;
                                  image-rendering: -moz-crisp-edges;
                                  -ms-interpolation-mode: bicubic;"></img> 
                                  
                                  <img src="../static/images/doctory specScree.png" class = "center" style="width:400px; height:400px;
                                  image-rendering: -moz-crisp-edges;
                                  -ms-interpolation-mode: bicubic;"></img> 

                                  <img src="../static/images/doctory specBooking.png" class = "center" style="width:400px; height:400px;
                                  image-rendering: -moz-crisp-edges;
                                  -ms-interpolation-mode: bicubic;"></img> 

                </p>
                    </div>

    <div id="Contact" class="tabcontent">
      <h3>Contact</h3>
      <p>Get in touch, we are always there for you <br>
      For complaints or inquiries please contact us on: <br> info@doctory.com <br>
    For doctors who would like to register please send your resume and certification documents on: <br> doctors_reg@doctory.com</p>
    </div>

    <div id="About" class="tabcontent">
      <h3>About us</h3>
      <p>We are a group of software engineers who are passionate to make people's life better <br>
      so we created doctory to help poeple book their doctors appointment hassle free and in minutes <br>
    we got the idea when we noticed that booking the doctor appointment is a hassle you have to make your <br>
  to find a good doctor then you make some phone calls to find out when the doctor is available then you go <br>
to his clinic and wait till your turn come so we thought that we can simplify this process and that's why we created doctory</p>
    </div>
        
        
    <div class="container">
      <section class="filters">
                <div class="location">
                    </div>
                    <div class="location">
                          </div>
                    </div>
        </section>
          </div>
          <footer>
        <p>Doctory&#169</p>
      </footer>
    </body>
  </html>
  