<!DOCTYPE html>
<html lang="en">
	<!--This shall rep the neurologists spec page-->
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css?{{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-footer.css?{{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/6-filters.css?{{ cache_id }}">
    <link rel="icon" href="../static/images/doctory.png" />
        <title>Doctory</title>
  </head>
  <body>
    <header style="background-color:rgb(178, 152, 240);">
      <a href="Doctory_home.html"><img src="../static/images/logo.png" /> </a>
      <div class="logo"></div>
    </header>
        <img src="../static/images/cover3.jpg" class = "center" style="width:1350px; height:200px;
                                        image-rendering: -moz-crisp-edges;
                                        -ms-interpolation-mode: bicubic;"></img>

    <div class="container">
      <style>
        body {
          background-color: rgb(243, 242, 240);
        }
        
        h1 {
          font-size: 19px;
          margin-left: 40px;
        }
        </style>
        
          <h1>Doctory, booking your appointment has never been easier,</h1><br>
          <h1>choose your Doctor then book your appointment.</h1>
    </div>
    <div class="container">
      <section class="filters">
                <div class="location">
                        <h2><br>Neurologists</h2>
                </div>
        </section>
          </div>
	  <!--these rep links to images of available doctors and link to the booking page--> 
<a href="booking-templates/bookingDoctory.html">
<img src="../static/images/neurolog/Mohamed salah.png" class = "center" style="width:600px; height:400px;
image-rendering: -moz-crisp-edges;
-ms-interpolation-mode: bicubic;"> </a>
<a href="booking-templates/bookingDoctory.html">
<img src="../static/images/neurolog/MaryJohn .png" class = "center" style="width:600px; height:400px;
image-rendering: -moz-crisp-edges;
-ms-interpolation-mode: bicubic;"><br> </a>

<a href="booking-templates/bookingDoctory.html">
<img src="../static/images/neurolog/Johndoe.png" class = "center" style="width:600px; height:400px;
image-rendering: -moz-crisp-edges;
-ms-interpolation-mode: bicubic;"> </a>

<a href="booking-templates/bookingDoctory.html">
<img src="../static/images/neurolog/adam_smith.png" class = "center" style="width:600px; height:400px;
image-rendering: -moz-crisp-edges;
-ms-interpolation-mode: bicubic;"> <br></a>

    <div class="container">
      <section class="filters">
                <div class="location">
                    </div>
                    <div class="location">
                          </div>
                    </div>
        </section>
          </div>
          <footer>
        <p>Doctory&#169</p>
      </footer>
    </body>
  </html>
  
