<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css?{{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-header.css?{{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-footer.css?{{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/6-filters.css?{{ cache_id }}">
    <link type="text/css" rel="stylesheet" href="../static/styles/8-places.css?{{ cache_id }}">
    <link rel="icon" href="../static/images/doctory.png" />
        <title>Doctory</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../static/scripts/1-hbnb.js?{{ cache_id }}"></script>
  </head>
  <body>
    <header style="background-color:rgb(178, 152, 240);">
      <a href="Doctory_home.html"><img src="../static/images/logo.png" /> </a>
      <div class="logo"></div>
    </header>
        <img src="../static/images/cover3.jpg" class = "center" style="width:1350px; height:200px;
                                        image-rendering: -moz-crisp-edges;
                                        -ms-interpolation-mode: bicubic;"></img>

    <div class="container">
      <style>
        body {
          background-color: rgb(243, 242, 240);
        }
        
        h1 {
          font-size: 19px;
          margin-left: 40px;
        }
        </style>
        
          <h1>Doctroy, booking your appointment has never been easier,</h1><br>
          <h1>choose your Doctor then book your appointment.</h1>
    </div>
    <div class="container">
      <section class="filters">
                <div class="amenities">
                        <h2><br>Opthalmologist</h2>
                </div>
        </section>
          </div>
<a href="bookingDoctory.html">
<img src="../static/images/opthalmologist/adel_imam .png" class = "center" style="width:600px; height:400px;
image-rendering: -moz-crisp-edges;
-ms-interpolation-mode: bicubic;"> </a>
<a href="bookingDoctory.html">
<img src="../static/images/opthalmologist/ahmed_imam.png" class = "center" style="width:600px; height:400px;
image-rendering: -moz-crisp-edges;
-ms-interpolation-mode: bicubic;"><br> </a>

<a href="bookingDoctory.html">
<img src="../static/images/opthalmologist/lili_tony.png" class = "center" style="width:600px; height:400px;
image-rendering: -moz-crisp-edges;
-ms-interpolation-mode: bicubic;"> </a>

<a href="bookingDoctory.html">
<img src="../static/images/opthalmologist/alexa_sam.png" class = "center" style="width:600px; height:400px;
image-rendering: -moz-crisp-edges;
-ms-interpolation-mode: bicubic;"> <br></a>

    <div class="container">
      <section class="filters">
                <div class="amenities">
                    </div>
                    <div class="amenities">
                          </div>
                    </div>
        </section>
          </div>
          <footer>
        <p>Doctory&#169</p>
      </footer>
    </body>
  </html>
  